@import url('../styles.css');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .logo {
    height: 100px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    color: var(--primary-color);
}