@import url('../styles.css');

td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.excluir button {
    background-color: red;
    color: white;
}

.excluir button:hover {
    background-color: darkred;
}
