@import url('styles.css');

.sidebar {
    max-height: 100%;
    overflow-y: auto;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    padding-top: 20px;
    border-right: 5px solid var(--accent-color);
    /* Remove a altura fixa para permitir rolagem interna */
    height: 100%;
    /* Substitui height: 100vh */
}

/* Estilização dos links dentro da sidebar */
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--primary-color);
    display: block;
}

.sidebar a:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.section-title {
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 20px;
    font-weight: bold;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 125px;
}

.logo {
    max-width: 90%;
    height: auto;
}

.help-button {
    margin-top: 45px;
    position: relative;
    background-color: white;
    bottom: 20px;
    width: 100%;
    text-align: center;
}